---
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderSmall from "../../components/HeaderSmall.astro";
import CTAColor from "../../components/CTAColor.astro";
import flyWithUsCTA from "../../data/fly-with-us-cta";
import ImageComp from "../../components/ImageComp.astro";

import pageData from "../../data/visitData.js";
import Visit from "../../components/Visit.astro";
import Form from "../../components/Form.astro";

---
<BaseLayout
  siteTitle={pageData.pageTitle}
  siteDescription={pageData.pageDescription}
  keywords={pageData.pageKeywords}
  >
  
  <HeaderSmall content={pageData.header} />

  <Visit content={pageData.details} />

  <section class="flex flex-col lg:flex-row items-center justify-center w-full bg-sky-500/20" id="contact">
    <div>
      <ImageComp 
        imagePath="/src/assets/simplifly-student-pilot-flying-toward-sunset.jpg" 
        imageAlt="simplifly student pilot flying toward the sunset"
        style="object-cover w-full h-full"
      />
    </div>
    <Form />
  </section>

  <CTAColor content={flyWithUsCTA} />

</BaseLayout>

